apiVersion: apps/v1
kind: Deployment
metadata:
  name: fileserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fileserver
  template:
    metadata:
      labels:
        app: fileserver
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
        - name: replmount
          mountPath: /mnt/repl
        - name: datasetmount
          mountPath: /mnt/datasets
        - name: modelsmount
          mountPath: /mnt/models
        resources:
          requests:
            memory: "800Mi"
            cpu: "1"
          limits:
            memory: "1000Mi"
            cpu: "2"
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx-conf
          items:
            - key: nginx.conf
              path: nginx.conf
      - name: replmount
        hostPath:
          path: /mnt/repl
      - name: datasetmount
        hostPath:
          path: /mnt/datasets
      - name: modelsmount
        hostPath:
          path: /mnt/models
      revisionHistoryLimit: 3