# ignore python stuff
__pycache__/
backend/venv/
venv/

# django
*.sqlite3
django/staticfiles/
# ignore secrets
.envrc

#data
downloaded_logs/
robot_states/
team_analysis_plots/
team_analysis_tables/
output/