.panel-header {
  padding: 12px 16px;
  background-color: #2d2d30;
  border-bottom: 1px solid #3e3e42;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-header h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.timeline_container {
  position: relative;
}

.flex {
  display: flex;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ruler {
  border-top-width: 1px;
}

.hidden {
  display: none;
}