.image_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 640px);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.konva_overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Allows clicks to pass through to elements below */
}