grafana:
  replicas: 1
  resources:
    limits:
      cpu: "1"
      memory: "1Gi"
    requests:
      cpu: 100m
      memory: 128Mi
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - "grafana.berlin-united.com"
    tls:
      - secretName: tls-cert-grafana
        hosts:
          - "grafana.berlin-united.com"
  persistence: 
    enabled: true
    type: "pvc"

  admin:
    existingSecret: grafana-secret
    userKey: username
    passwordKey: password
  
  plugins:
  - yesoreyeram-infinity-datasource

  datasources:
     datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.prometheus.svc.cluster.local:80
        access: proxy
        isDefault: true

  dashboardProviders:
   dashboardproviders.yaml:
     apiVersion: 1
     providers:
     - name: 'default'
       orgId: 1
       folder: ''
       type: file
       disableDeletion: false
       editable: true
       options:
         path: /var/lib/grafana/dashboards/default
   
  dashboardsConfigMaps:
    default: "grafana-dashboards"

prometheus:
  alertmanager:
    enabled: false

loki:
  loki:
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    tracing:
      enabled: true
    querier:
      # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
      max_concurrent: 2
  deploymentMode: SingleBinary
  singleBinary:
    replicas: 1
    resources:
      limits:
        cpu: 3
        memory: 4Gi
      requests:
        cpu: 2
        memory: 2Gi
    extraEnv:
      # Keep a little bit lower than memory limits
      - name: GOMEMLIMIT
        value: 3750MiB

  chunksCache:
    # default is 500MB, with limited memory keep this smaller
    writebackSizeLimit: 10MB

  # Enable minio for storage
  minio:
    enabled: true

  # Zero out replica counts of other deployment modes
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0

  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0

vector:
  role: Agent

  sources:
    kubernetes_logs:
      type: kubernetes_logs
      max_read_bytes: 1048576

  sinks:
    loki:
      type: loki
      inputs:
        - modify
      endpoint: http://monitoring-loki.monitoring.svc.cluster.local:3100
      labels:
        namespace: "{{ namespace }}"
        pod: "{{ pod }}"
        container: "{{ container }}"
      encoding:
        codec: json

  extraVolumeMounts:
    - name: varlibkubeletpods
      mountPath: /var/lib/kubelet/pods
      readOnly: true

  extraVolumes:
    - name: varlibkubeletpods
      hostPath:
        path: /var/lib/kubelet/pods
