.app_container {
    display: flex;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}