.sidebar_header {
  padding: 16px;
  border-bottom: 1px solid #3e3e42;
  text-align: center;
}

.logo{
  width: 40px;
}

.version {
  margin: 0;
  font-size: 12px;
  color: #cccccc;
}

.username {
  margin: 0;
  font-size: 12px;
  color: #cccccc;
  text-align: left;
}