{% extends "frontend/base.html" %}

{% block header %}
{% include "frontend/header.html" %}
{% endblock %}

{% block sidebar %}
{% include "frontend/sidebar.html" %}
{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}
<main class="content">
    <div class="left" id="left">
        <div class="big_image_wrapper" id="konva"></div>
    </div>
<div class="right">
    <div id="secondaryImage">
        <img src="{{ top_image.image_url|default_if_none:"" }}" alt="Secondary Image">
    </div>
    <div class="settings">
        <!-- the buttons will trigger an api call via javascript -->
        <!-- TODO do the buttons next to each other and smaller -->
        <!-- TODO intel geti only uses one button the meaning shifts based on who created it - think about it -->
        <div class="save_buttons">
            <button class="settings_button" id="save_button" type="button">Save Annotations</button>
            <button class="settings_button" id="validate_button" type="button">Validate All</button>
        </div>
        <!-- this is just for frontend anyway we dont need this data on the backend-->
        <!-- TODO do the selects  next to each other and smaller -->
        <div class="annotation_options">
            <select id="classSelect" class="settings_select">
                <option value="">--Please choose a class--</option>
                <option value="robot">Nao</option>
                <option value="ball">Ball</option>
                <option value="penaltymark">Penalty Mark</option>
            </select>
            <select id="typeSelect" class="settings_select">
                <option value="box">Bounding Box</option>
                <option value="polygon">Polygon</option>
                <option value="point">Point</option>
            </select>
        </div>
        <!-- selecting a filter will trigger a redirect-->
        <form method="POST" action="{% url 'image_detail' log_id current_frame %}">
            {% csrf_token %}
            <label for="filterSelect">Select Frame Filter:</label>
            <select name="frame_filter" id="filterSelect" onchange="this.form.submit()">
            {% for filter in filters %}
            <option value="">--Please choose a Framefilter--</option>
                <option value="{{ filter.id }}">{{ filter.name }}</option>
            {% endfor %}
            </select>
        </form>
    </div>
</div>

<div class="timeline-container">
    <div class="buttons-container">
        <button class="toggle-button dog" onclick="toggleActive(this)">Dog</button>
        <button class="toggle-button cat" onclick="toggleActive(this)">Cat</button>
        <button class="toggle-button bird" onclick="toggleActive(this)">Bird</button>
        <button class="toggle-button other" onclick="toggleActive(this)">Other</button>
    </div>
    <div class="timeline_infos">
        <p>Frame: {{current_index}}/{{num_frames}}</p>
        <a href="{% if prev_frame %}{% url 'image_detail' log_id prev_frame %}?filter={{ selected_filter_name|urlencode }} {% else %}{% endif %}" class="prev-button">Previous</a>
        <a href="{% if next_frame %}{% url 'image_detail' log_id next_frame %}?filter={{ selected_filter_name|urlencode }} {% else %}{% endif %}" class="next-button">Next</a>
    </div>
    <div class="timeline" id="timeline">
        <!--
       {% for url in frame_urls %}
            <a href="{{ url }}" class="timeline-box {% if frame == current_frame %}timeline-active{% endif %}"></a>
        {% endfor %}
        -->
    </div>
</div>
</main>
<script>
    const BASE_URL = window.location.protocol === 'https:' 
    ? `https://{{ request.get_host }}` 
    : `http://{{ request.get_host }}`;
</script>
<script src="{% static 'js/globals.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/my_konva.js' %}"></script>
<script src="{% static 'js/image.js' %}"></script>

<script>

    const csrfToken = "{{ csrf_token }}";  // Django template variable
    async function setup(){
        // TODO maybe return the image object here so we can get the id and use that to list out all annotations
        a = await get_image_url("BOTTOM");
        bottom_image_url = `https://logs.berlin-united.com/${a.image_url}`
        b = await get_image_url("TOP");
        top_image_url = `https://logs.berlin-united.com/${b.image_url}`

        bottom_annotations = await get_annotations(a.id);
        top_annotations = await get_annotations(b.id);
        console.log(top_annotations)
        handle_validation()

        setup_secondary_image()
        setUpKonvaCanvas()
        // TODO switch annotations also
        

        
        draw_db_annotations();
    }
    document.addEventListener('DOMContentLoaded', () => {
        setup()
        
    });
    function toggleActive(button) {
      // Get all buttons
      const buttons = document.querySelectorAll('.toggle-button');
      
      // Remove active class from all buttons
      buttons.forEach(btn => {
        btn.classList.remove('active');
      });
      
      // Add active class to clicked button
      button.classList.add('active');
    }

</script>
{% endblock %}